@charset "utf-8";

/*示例样式, 可以删掉 start*/
.page-home .intro{color:#fff;padding:.3rem;background:linear-gradient(215deg, #33c3ff 0%, #4d7fed 100%)}
.page-home .intro h1{font-size:.58rem;margin-bottom:.1rem}
.page-home .intro p{font-size:.26rem;letter-spacing:1px;font-weight:300}
.page-home main .bui-accordion{border-top:0}
.page-home main>.bui-list .bui-btn{padding-left:.4rem}
.page-home dl dt{padding-left:.4rem}
.page-home dl dd{background:#fff;padding-left:.5rem;padding-right:0}
.page-home .bui-nav li{background:none;color:#999;font-size:.3rem}
.page-home .bui-nav li.active{color:#333;background:none}
.page-home .bui-accordion i{color:#999}
.page-home .bui-accordion .bui-btn{color:#666}
.page-home .bui-accordion>.bui-btn{color:#666}
.page-home .bui-accordion .active{color:#39a4ff}
.page-home .bui-accordion .active i{color:#39a4ff}
.bui-sidebar img{width:100%}
.bui-sidebar-wrap .bui-page main{background:#fff}
.menu{margin:.2rem;display:inline-block;background:#39a4ff;border-radius:.06rem;color:#fff;width:.7rem;height:.7rem;line-height:.6rem;text-align:center}
.menu.active{background:red}.menu i{font-size:.48rem}
.placeholder{margin-top:1rem;text-align:center}
.placeholder img{width:1.4rem;margin:0 auto .3rem auto}
.placeholder-text{width:5.6rem;margin:0 auto;border:1px dashed #70B1E9;background:#ECF9FF;border-radius:.3rem;padding:.3rem}
.placeholder-text h3{color:#333;font-size:.4rem;margin-bottom:.2rem}
.bui-accordion dd{background:#fff}
.bui-list-thumbnail .bui-btn{border-bottom:0}
.price i{font-size:.2rem;font-style:normal;margin-right:.05rem}
.price{font-size:.36rem;color:#FF6701}
.controls-btn{background:#fff;margin:0;padding:.3rem .2rem;border-top:1px solid #efefef}
.controls-btn .bui-btn{margin-bottom:.2rem}
.stepbar .bui-list{margin-bottom:.1rem}
.stepbar .tips{margin-bottom:.5rem}


/*示例样式, 可以删掉 end*/
.keyword{
    font-weight: 900;
    color:#000;
}

.bui-router-item{
    background:#fff;
}
header.bui-bar {background: #ea413c;}
header.bui-bar .logo-pic {
    height: .3rem;
    vertical-align: middle;
}
header.bui-bar .bui-bar-right img {
    height: .4rem;
}

.bui-nav>.active {
    color: #ea413c;
    background: #fff;
}

.bui-tab .bui-nav .active {
    color: #ea413c;
    background-color: #fff;
}

.bui-nav>[class*=bui-btn].active:after {
    background: #ea413c;
}

h3.item-title{
    color:#666;
}

.bui-btn-select{
    background: RGBA(166, 227, 255, 0.21);
    border: 1px solid #39a4ff;
}

.bui-box h2{
    padding:.2rem;
    font-weight:900;
}

/* .bui-page img {
    max-width: 80%;
    margin: auto 10%;
} */

/* 视频列表---start */
.v-mask {
    background-image: linear-gradient(rgba(28, 27, 25, 0) 5%, rgba(28, 27, 25, 0.52) 37%, rgba(28, 27, 25, 0.85) 85%);
    background-color: initial;
}
.v-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10px;
}

.v-play {
    width: 1rem;
    height: .5rem;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAAoCAYAAABD0IyuAAACQElEQVR4Ae2aNbDbQBCG5WDnLlS6D3OaMENnqNyPe0Npd2FqHjVhqh+4CjMzMzMzbn7NbPjMPt9KuX/m68+fJEsLTjWhESOCYDJIg2bQBXaAI4bZwWdp5rNNAUFHZ1jIOLAE7ANHPMI+sJTPHqi3kMFgLTjicdaCwfUQ0gtkwGFwxCcc5t/Uq1op/cBGcMSnbAT9KpUSAp3giM/pBKFypfTlf/Yj/wldoG85/yl6Hp/Zs0/S9u1PwFOKx88KfKx6FROTBke00NZ2mzj08uUnWrnyJo0cKUlOupCUQVrfPps23aO/s2/fM4pETgt6Ww3+W0pA+3fKhg0Qo8jTpx9pwYLrQuSsVn3RHjEihkPbtj2hefNOCpAz5ncxS8yK4dy//4Gy2SuGxSz5vSDcb06MIp2dj2jatBMmxLCLoMMV6BE5Yjg3b76jVOqSITlTXDEpeWI4X758oy1b7tOECccaLCblimmRJUaRixffUCJxoYFiWlwxnbLFcN6//0Jr1tylsWOPNuC8Ha6YnXLFKHLy5CuKRnV/FO50xRzxkhiW81L3ea2YAnjzUYrFtD9K9s9XTYc3XteXLhl4XdsPPBVpWxKomVKoiLRFpLi2Qy531XzbQVKjavt2YY0q863NT7RwoZTW5hrlfNpIMzwaldoMt+MTJlNsrtRb+8Btxw6pA7feSil2RFtG7FDfroEMKG7BLg7VtGq2xgdS1oDBOpYTx4ClHltO3M9nHuvoDheeU0AatIA82ClAwi4+S0ut66zfAYxMiV8+FoEhAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: initial;
}

.v-detail{
    color: rgb(191, 181, 161);
}
.v-time{
    color: rgb(191, 181, 161);
}

.v-time::before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAmElEQVR4AWOY+Z86cDAaRDEcAQZ1gCBOReUgSIxBUAq/omFq0KhBowbFUG7QKqj82pli5BmEgBEz34JVvJ4ZSp5BCCg5cwtU1fKZQuQZhIBpMz+B1T2b6U2eQQioOPMAVO2cmXzkGISATDMLZ34Hq34w04E8gxBQa+ZpsPo4cg1CQJaZdTNXUeY1BGSkyCBKE+SoQcO4oQUAHo7GDVZrXx0AAAAASUVORK5CYII=);
    background-repeat:no-repeat;
    background-color: initial;
    display: inline-block;
    content: "";
    height: 0.26rem;
    width: 0.26rem;
    -webkit-background-size: contain;
    background-size: contain;
    padding-right: 0.1rem;
    position: relative;
    top: 0.02rem;
}

.v-right{
    text-align: right !important;
}

.v-title{
    padding: 5px 0;
    color: rgb(254, 243, 225);
    font-size: 0.37rem;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-line-break: auto;
    -webkit-box-orient: vertical;
}
/* 视频列表---end */